@page 
@model WebApplication5_dz.Pages.Books.DetailsModel
@{

}


<h2>@Model.book.Title</h2>
<h3>@Model.book.Author</h3>
<h3>@Model.book.Genere</h3>
<h3>@Model.book.Publisher</h3>
<h3>@Model.book.YearOfPublishing</h3>

<a asp-page="Books">Back to books</a>